/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);

div.main{
    padding: 10px 50px 25px;
    /*font-family: raleway, serif;*/
    margin-top:150px;
    background-color: #161618;
}

input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}

label {
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
}


input[type=button]{
    font-size: 16px;
    background: linear-gradient(#b2b2b2 5%, #000000 100%);
    border: 1px solid #231c0c;
    color: #efedeb;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}

input[type=button]:hover{
    color: black;
    background: white;
}